body{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar li{
    list-style: none;
}


.logo{
    margin-left:5vw;
}

.navsign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5vw;

    
}
.navsignlang{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
}
.languagelogo{
    width: 20px;
  
}
.selectlang{
    border: none;


}

#signbutton{
    color: white;
    background-color: red;
    border-radius:4px;
    border: none;
    padding: 5px 15px;
    margin: 0px 10px;
}